.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--ac-text);
  background-color: var(--ac-bg);
  padding: 10rem 10% 2rem 10%;
  flex: 1;
  min-height: 100vh;
}

.main h1 {
  font-size: 2.7rem;
}

.container {
  column-count: 2;
  column-gap: 2rem;
  padding-top: 2rem;
}
.card {
  background-color: var(--ac-card-bg);
  color: var(--ac-card-text);
  padding: 2.5rem;
  margin-bottom: 2rem;
  break-inside: avoid-column;
  --d: 50px;

  box-sizing: border-box;
  border: solid #0000;
  border-width: 0 var(--d) var(--d) 0;
  clip-path: polygon(0 0,calc(100% - var(--d)) 0,100% var(--d),100% 100%,var(--d) 100%,0 calc(100% - var(--d)));
  background: conic-gradient(at calc(100% - var(--d)) calc(100% - var(--d)),#0004 37.5%,#0008 0 75%,#0000 0) border-box var(--ac-card-bg);
  position: relative;
}

.title {
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--ac-card-line);
}

.card p {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;

}

.card ul {
  list-style-type: square;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.card a {
  text-decoration: none;
  color: var(--ac-card-icon);
}

.icon {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--ac-card-icon);
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--ac-card-icon);
  position: absolute;
  bottom: 0.5rem;
  left: 95%;
  transform: translate( -95%);
  z-index: 1;
  font-size: 1.2rem;
}

.line {
  height: 0.2rem;
  width: 100%;
  background-color: var(--ac-card-line);
}

@media only screen and (max-width: 1000px) {
  .container {
    columns: 1;
  }
}
