.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--ac-text);
  background-color: var(--ac-bg);
  padding: 100px 10% 20px 10%;
}

.container {
  column-count: 2;
  column-gap: 20px;
}
.card {
  background-color: var(--ac-card-bg);
  color: var(--ac-card-text);
  padding: 25px;
  margin-bottom: 20px;
  break-inside: avoid-column;
  --d: 20px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border: solid #0000;
  border-width: 0 var(--d) var(--d) 0;
  clip-path: polygon(0 0,calc(100% - var(--d)) 0,100% var(--d),100% 100%,var(--d) 100%,0 calc(100% - var(--d)));
  background: conic-gradient(at calc(100% - var(--d)) calc(100% - var(--d)),#0004 37.5%,#0008 0 75%,#0000 0) border-box var(--ac-card-bg);
  }

@media only screen and (max-width: 1170px) {
  .container {
    columns: 1;
  }
}
