.main {
  display: flex;
  flex-direction: column;
  background-color: var(--info-bg);
  padding: 70px 0 0 0;
}

.main h1 {
  color: var(--info-header);
  font-size: 2.7rem;
}

.main p {
  color: var(--info-text);
}

.container {
  width: 100%;
  display: flex;
  position: relative;
  background-color: var(--info-left-bg);
}

.top {
  width: 100%;
  background-color: var(--home-top-bg);
  height: 100px;
  color: var(--home-top-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.left {
  background-color: var(--info-left-bg);
  height: 100%;
  display: flex;
  width: 29%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  --c: 70px;
  aspect-ratio: 2/3;
  mask: radial-gradient(var(--c) 60% at right,#0000 calc(100% - 1px),#000);
  background: var(--info-left-bg);
}

.left h1 {
  font-size: 2.4rem;
}

.left ul {
  margin-top: 10px;
  list-style-type: circle;
  font-size: 2rem;
}

.left li {
  padding: 5px;
}

.left li:hover {
  color: var(--info-list-hover);
  cursor: pointer;
}

.middle{
  height: 660px;
  width: 29%;
  background-color: var(--info-right-bg);;
}

.rightContent {
  width: 71%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--info-right-text);
  padding: 15px 0 15px 0;
}

.rightContent h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.rightContent p {
  font-size: 2rem;
}

.rightContent a {
  color: var(--info-a);
  text-decoration: none;
}

.corners {
  margin-top: 20px;
  width: 700px;
  height: 400px;
  --s: 100px;
  border: 8px solid var(--home-left-bg);
  padding: 10px;
  background: #f2f2f2 content-box;
  mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s));
}

.img {
  width: 100%;
  height: 100%;
}


.right {
  background-color: var(--info-right-bg);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

.listLevel1 {
  font-size: 2rem;
}

.listLevel1 li {
  padding: 5px 0 5px 0;
}

.listLevel2 {
  font-size: 1.5rem;
}

.listLevel2 li {
  padding: 5px;
  margin-left: 20px;
}

.selected {
  color: var(--info-list-hover);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1280px) {
  .left {
    width: 35%;
  }

  .middle {
    width: 35%;
  }

  .rightContent {
    width: 65%;
    margin: 10px;
  }
}

@media only screen and (max-width: 1170px) {
  .container {
      flex-direction: column;
      min-height: 800px;
  }

  .left {
      width: 100%;
      position: relative;
      z-index: 2;
      max-height: 450px;
  }

  .right {
      width: 100%;
      position: relative;
      z-index: 1;
      min-height: 350px;
  }

  .rightContent {
    width: 100%;
    padding: 15px;
  }

  .middle {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .corners {
    width: fit-content;
    height: fit-content;
  }
}