.main {
  width: 100%;
  background-color: var(--map-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.main h1 {
  font-size: 2.7rem;
}

.container {
    background-color: var(--map-bg);
    color: var(--map-header);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.levelSelector {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border: 1px solid var(--map-btn-text);
}

  .icon {
    font-size: 3rem;
  }

  .levelBtn {
    background-color: var(--map-btn-bg);
    color: var(--map-btn-text);
    border: none;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
  }

  .levelBtn:disabled {
    background-color: var(--map-btn-bg-hover);
  }

  .levelBtn:disabled:hover {
    background-color: var(--map-btn-bg-hover);
    cursor:default;
  }

  .currentLevel {
    background-color: var(--map-btn-bg);
    color: var(--map-btn-text);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--map-btn-text);
    border-bottom: 1px solid var(--map-btn-text);
  }

.levelBtn:hover{
    background-color: var(--map-btn-bg-hover);
}

.roomInfo {
    width: 100%;
    height: 100%;
    background-color: var(--map-roomInfo-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: fixed;
    /*
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    margin-top: 70px;*/
}

.roomInfoTitle {
  font-size: 3rem;
}

.roomInfoText {
  font-size: 2rem;
}

.closeIcon {
    color: var(--map-close-icon);
    font-size: 2rem;
}

.closeBtn {
    cursor: pointer;
    right: 30px;
    position: absolute;
}

.mapContainer {
    width: 750px;
    height: 842px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    padding: 0;
    background-color: #FFF;
    border: 2px solid var(--map-border);
    border-radius: 25px;
}

.mapContainer > * {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mapWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spinnerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .mapContainer {
      width: 414px;
      height: 490px;
    }

    .levelSelector {
      flex-direction: row-reverse;
      margin-top: 20px;
      margin-left: 0;
    }

    .currentLevel {
      border-top: none;
      border-bottom: none;
      border-left: 1px solid var(--map-btn-text);
      border-right: 1px solid var(--map-btn-text);
    }

    .map {
        width: 100%;
    }

}