.main {
  width: 100%;
  background-color: var(--map-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  flex: 1;
  min-height: 100vh;
}

.main h1 {
  font-size: 2.7rem;
  color: var(--map-header);
}

.container {
  background-color: var(--map-bg);
  color: var(--map-header);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.levelSelector {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  border: 1px solid var(--map-btn-text);
}

.icon {
  font-size: 3rem;
}

.levelBtn {
  background-color: var(--map-btn-bg);
  color: var(--map-btn-text);
  border: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}

.levelBtn:disabled {
  background-color: var(--map-btn-bg-hover);
}

.levelBtn:disabled:hover {
  background-color: var(--map-btn-bg-hover);
  cursor: default;
}

.currentLevel {
  background-color: var(--map-btn-bg);
  color: var(--map-btn-text);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--map-btn-text);
  border-bottom: 1px solid var(--map-btn-text);
}

.levelBtn:hover {
  background-color: var(--map-btn-bg-hover);
}

.roomInfo {
  background-color: var(--map-roomInfo-bg);
  color: var(--map-roomInfo-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  width: 60%;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 6px 5px 24px -9px var(--map-roomInfo-shadow);
}

.roomInfoTitle {
  font-size: 3rem;
}

.roomInfoText {
  font-size: 2rem;
}

.closeBtn {
  cursor: pointer;
  right: 30px;
  position: absolute;
}

.mapContainer {
  width: 750px;
  height: 842px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  padding: 0;
  background-color: #FFF;
  border-radius: 25px;
  box-shadow: 8px 8px 24px -3px var(--map-shadow);
}

.mapBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 0;
}

.mapWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.spinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .mapContainer {
    width: 414px;
    height: 490px;
  }

  .levelSelector {
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-left: 0;
  }

  .currentLevel {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid var(--map-btn-text);
    border-right: 1px solid var(--map-btn-text);
  }

  .map {
    width: 100%;
  }

  .roomInfo {
    width: 80%;
  }
}