:root {
  --header-bg: #B886D8;
  --header-text: #EBDBF8;
  --nav-text: #FFFFFF;
  --nav-text-hover: #8ECB93;

  --home-top-bg: #EBDBF8;
  --home-top-color: #000000;
  --home-left-bg: #8ECB93;
  --home-left-text: #000000;
  --home-right-bg: #FFFFFF;
  --home-right-text: #000000;
  --home-bottom-bg: #FFFFFF;
  --home-slider: #FFFFFF;
  --home-right-card-bg: #FAF9F6;
  --home-right-card-text: #000000;
  --home-right-card-border: #000000;
  --home-background: rgb(184,134,216);
  --home-background-gradient: linear-gradient(90deg, rgba(184,134,216,1) 1%, rgba(235,219,248,1) 95%);

  --map-btn-bg: #B4DDB7;
  --map-btn-text: #000000;
  --map-btn-bg-hover: #8ECB93;
  --map-bg: #FAF9F6;
  --map-header: #000000;
  --map-border: #000000;
  --map-roomInfo-bg: #FFFFFF;
  --map-roomInfo-text: #000000;
  --map-roomInfo-shadow: rgba(0, 0, 0, 1);
  --map-shadow: rgba(0, 0, 0, 1);

  --usos-bg: #FAF9F6;
  --usos-text: #000000;
  --usos-a: #2572de;

  --ac-bg: #FAF9F6;
  --ac-text: #000000;
  --ac-card-bg: #8ECB93;
  --ac-card-border: #000000;
  --ac-card-text: #000000;
  --ac-card-icon: #FFFFFF;
  --ac-card-line: #FFFFFF;

  --app-bg: #FAF9F6;
  --app-header: #000000;
  --app-text: #000000;
  --app-line: #B886D8;
  --app-top-bg: #FAF9F6;
  --app-top-text: #000000;
  --app-middle-bg: #8ECB93;
  --app-middle-text: #000000;
  --app-left-bg: #EBDBF8;
  --app-left-text: #000000;
  --app-right-bg: #FAF9F6;
  --app-right-text: #000000;

  --info-left-bg: #8ECB93;
  --info-left-text: #000000;
  --info-right-bg: #FAF9F6;
  --info-right-text: #000000;
  --info-a: #2572de;
  --info-list-hover: #FFFFFF;

  --intranet-top-bg: #FAF9F6;
  --intranet-top-text: #000000;
  --intranet-middle-bg: #B4DDB7;
  --intraner-middle-text: #000000;
  --intranet-bottom-bg: #EBDBF8;
  --intranet-bottom-text: #000000;

  --color-1: #8ECB93;
  --color-6: #B4DDB7;
  --color-3: #EBDBF8;
  --color-4: #D0B1E7;


  --footer-bg: #B4DDB7;
  --footer-text: #000000;

  --color-5: #000000;
  --color-7: #FFFFFF;
}

[data-theme="dark"] {
  --header-bg: #7D5A9A;
  --header-text: #B3A1D5;
  --nav-text: #FFFFFF;
  --nav-text-hover: #7FBB9D;

  --home-top-bg: #B3A1D5;
  --home-top-color: #FFFFFF;
  --home-left-bg: #7FBB9D;
  --home-left-text: #FFFFFF;
  --home-right-bg: #000000;
  --home-right-text: #FFFFFF;
  --home-bottom-bg: #000000;
  --home-right-card-bg: #B3A1D5;
  --home-right-card-text: #FFFFFF;
  --home-right-card-border: #000000;
  --home-background: rgb(125,90,154);
  --home-background-gradient: linear-gradient(90deg, rgba(125,90,154,1) 1%, rgba(179,161,213,1) 95%);

  --map-btn-bg: #4F8A5B;
  --map-btn-text: #FFFFFF;
  --map-btn-bg-hover: #7FBB9D;
  --map-bg: #28282B;
  --map-header: #FFFFFF;
  --map-border: #000000;
  --map-roomInfo-bg: #000000;
  --map-roomInfo-text: #FFFFFF;
  --map-roomInfo-shadow: rgb(117, 108, 108);
  --map-shadow: rgb(117, 108, 108);

  --usos-bg: #28282B;
  --usos-text: #FFFFFF;
  --usos-a: #4ccedf;

  --ac-bg: #28282B;
  --ac-text: #FFFFFF;
  --ac-card-bg: #7FBB9D;
  --ac-card-border: #FFFFFF;
  --ac-card-text: #FFFFFF;
  --ac-card-icon: #28282B;
  --ac-card-line: #28282B;

  --app-bg: #28282B;
  --app-header: #FFFFFF;
  --app-text: #FFFFFF;
  --app-line: #B3A1D5;
  --app-top-bg: #28282B;
  --app-top-text: #FFFFFF;
  --app-middle-bg: #7FBB9D;
  --app-middle-text: #000000;
  --app-left-bg: #B3A1D5;
  --app-left-text: #000000;
  --app-right-bg: #28282B;
  --app-right-text: #FFFFFF;

  --info-left-bg: #7FBB9D;
  --info-left-text: #000000;
  --info-right-bg: #28282B;
  --info-right-text: #FFFFFF;
  --info-a: #4ccedf;
  --info-list-hover: #FFFFFF;

  --intranet-top-bg: #28282B;
  --intranet-top-text: #FFFFFF;
  --intranet-middle-bg: #7FBB9D;
  --intraner-middle-text: #000000;
  --intranet-bottom-bg: #B3A1D5;
  --intranet-bottom-text: #FFFFFF;

  --color-1: #4F8A5B;
  --color-6: #7FBB9D;
  --color-3: #B3A1D5;
  --color-4: #9B7BBD;


  --footer-bg: #4F8A5B;
  --footer-text: #000000;

  --color-5: #FFFFFF;
  --color-7: #000000;
}

[data-theme="contrast"] {
  --header-bg: #000000;
  --header-text: #FFFF00;
  --nav-text: #FFFF00;
  --nav-text-hover: #FFFFFF;

  --home-top-bg: #000000;
  --home-top-color: #FFFF00;
  --home-left-bg: #FFFFFF;
  --home-left-text: #000000;
  --home-right-bg: #000000;
  --home-right-text: #FFFF00;
  --home-bottom-bg: #000000;
  --home-right-card-bg: #000000;
  --home-right-card-text: #00FFFF;
  --home-right-card-border: #00FFFF;
  --home-background: rgb(0,0,0);
  --home-background-gradient: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);


  --map-btn-bg: #00FFFF;
  --map-btn-text: #000000;
  --map-btn-bg-hover: #00ADAD;
  --map-bg: #000000;
  --map-header: #FFFF00;
  --map-border: #00FFFF;
  --map-roomInfo-bg: #00FFFF;
  --map-roomInfo-text: #000000;
  --map-roomInfo-shadow: rgb(0, 0, 0);
  --map-shadow: rgb(0, 0, 0);

  --usos-bg: #000000;
  --usos-text: #FFFF00;
  --usos-a: #00FFFF;

  --ac-bg: #000000;
  --ac-text: #FFFF00;
  --ac-card-bg: #00FFFF;
  --ac-card-border: #000000;
  --ac-card-text: #000000;
  --ac-card-icon: #000000;
  --ac-card-line: #000000;

  --app-bg: #000000;
  --app-header: #00FFFF;
  --app-text: #FFFF00;
  --app-line: #FFFF00;
  --app-top-bg: #000000;
  --app-top-text: #FFFF00;
  --app-middle-bg: #000000;
  --app-middle-text: #00FFFF;
  --app-left-bg: #000000;
  --app-left-text: #00FFFF;
  --app-right-bg: #000000;
  --app-right-text: #FFFF00;

  --info-left-bg: #FFFFFF;
  --info-left-text: #000000;
  --info-right-bg: #000000;
  --info-right-text: #FFFF00;
  --info-a: #00FFFF;
  --info-list-hover: #ff0000;

  --intranet-top-bg: #000000;
  --intranet-top-text: #FFFF00;
  --intranet-middle-bg: #FFFF00;
  --intraner-middle-text: #000000;
  --intranet-bottom-bg: #000000;
  --intranet-bottom-text: #00FFFF;

  --color-1: #000000;
  --color-2: #000000;
  --color-3: #000000;
  --color-4: #FFFFFF;
  --color-5: #FFFF00;
  --color-6: #FFFFFF;
  --color-7: #FFFF00;

  --footer-bg: #000000;
  --footer-text: #FFFF00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7rem;
  width: 100%;
}

  /* width */
  ::-webkit-scrollbar {
    width: 0.8rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: var(--color-7);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: var(--color-5);
    height: 2rem;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: var(--color-5);
    }