:root {
  /*--color-1: #CDB4DB;
  --color-2: #FFC8DD;
  --color-3: #FFAFCC;
  --color-4: #BDE0FE;
  --color-5: #A2D2FF;*/
  /*--color-1: #C9CD90;
  --color-2: #FED7E7;
  --color-3: #F6F0E7;
  --color-4: #BBD5E9;
  --color-6: #C9D9D6;
  --color-5: #000000;*/
  /*--color-1: #2F324B;
  --color-2: #FDDFDF;
  --color-3: #FFFFFF;
  --color-4: #C1DFED;
  --color-6: #8EA3DF;
  --color-5: #000000;*/
  /*--color-1: #F66B32;
  --color-2: #116148;
  --color-3: #F6F2EE;
  --color-4: #2994DB;
  --color-6: #F2CCE7;
  --color-5: #000000;*/
  --color-1: #8ECB93;
  --color-2: #B4DDB7;
  --color-3: #EBDBF8;
  --color-4: #D0B1E7;
  --color-6: #B886D8;
  --color-5: #000000;
  --color-7: #FFFFFF;
}

[data-theme="dark"] {
  --color-1: #4F8A5B;
  --color-2: #7FBB9D;
  --color-3: #B3A1D5;
  --color-4: #9B7BBD;
  --color-6: #7D5A9A;
  --color-5: #FFFFFF;
  --color-7: #000000;
}

[data-theme="contrast"] {
  --color-1: #000000;
  --color-2: #000000;
  --color-3: #000000;
  --color-4: #FFFFFF;
  --color-5: #FFFF00;
  --color-6: #FFFFFF;
  --color-7: #FFFF00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
  width: 100%;
}

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: var(--color-7);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: var(--color-5);
    height: 20px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: var(--color-5);
    }